*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:verdana;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    position:relative;
}
:root{
    --color-background:#EFF3F9;
    --color-white:#fff;
    --text-color:#263238;
    --color-secondary:#0065D4;
}

nav{
    margin-left:2rem;
    margin-right:1rem;
}

.items{
    display:flex;
    justify-content: space-between;
}
.lateral-menu{
    background:var(--color-background);
    height:100vh;
    width:20rem;
}
.lateral-menu h1{
    text-align:center;
    font-size:2rem;
    color:var(--color-primary);
    padding: 7rem 0rem 3rem 0rem;
}
nav ul li a{
    font-size:1.2rem;
    color:var(--color-black);
    margin:1.8rem 0;
}
.center-items{
    display:flex;
    gap:2rem;
    flex-direction:row;
    align-items:center;
}
.imgHome{
    display:block;
    margin:2rem auto;

}
.main{
    width:100%;
    height:100vh;
}

.main-header{
    display:flex;
    align-items:center;
    justify-content:end;
    gap:12rem;
    padding:2rem 2rem;
    width:100%;
    border-bottom:2px solid var(--color-background);
}
.input-search {
    padding:1.4rem 1rem;
    width:34rem;
    border-radius:1rem;
    background:var(--color-background)
}
.input-search input{
    flex:1;
    width:100%;
    outline:none;
    border:none;
    background:var(--color-background);
}
.input-search{
    display:flex;
    gap:1.8rem;
    align-items:center;

}
.search{
    cursor: pointer;
}
.profile{
    display:flex;
    gap:1.8rem;
    align-items:center;
}
.certificados{
    margin:2rem;
    overflow-y: scroll;
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 1fr 1fr;

}
.certificados img{
    width:86%;
}
.main h2{
    margin:2rem;
    color:var(--color-secondary);
}
.certificadoContent{
    cursor:pointer;
    display:flex;
    padding:2rem;
    border:2px solid var(--color-secondary);
    justify-content:center;
    align-items:center;
    border-radius:1rem;
    position: relative;
}
.btn-donwload {
    position: absolute;
    bottom: -4rem;
    border-radius:.9rem;
    padding: 2rem;
    width: 90%;
    border: none;
    cursor: pointer;
    background-color: var(--color-secondary);
    color:var(--color-white);
}
.certificadoView.on{
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
}
.modal{
    display:none;
}
.modal.on{
    display:block;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    z-index:11111;
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
}

.profile-more{
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
.profile-more.on{
    right: 4rem;
    top: 12rem;
    z-index: 1111111111111;
    opacity: 1;
    visibility: visible;
    position: absolute;
    border-radius: 1rem;
    width: 300px;
    box-shadow: 0px 0px 20px 0px #d9d9d9;
    height: 200px;
    background: var(--color-white);
}
.Profile-btn{
    cursor: pointer;
}
.profile-Icon img{
    width: 6rem;
    height: 6rem;
}
.profile-Icon{
    padding: 0 2rem;
    gap:.8rem;
    display: flex;
    align-items: center;
    padding-bottom: .8rem;
    border-bottom: 3px solid var(--color-background);
}
.about .profile-more .profile-Icon .title{
    color: var(--color-secondary);
    font-size: 1.4rem;
}
.text{
    color: var(--text-color);
}

.contaInformation{
    border-bottom: 3px solid var(--color-background);
}
.InformationProfile{
    gap:.8rem;
    display: flex;
    padding: 0 2rem;
    align-items: center;
}
.InformationProfile h6{
    font-weight:100;
    font-size: 1.2rem;
    color: var(--color-secondary);
}
.InformationProfile p{
    color: var(--text-color);
    font-size: .8rem;
}
.InformationProfile img{
    width: 1.8rem;
    margin: 1rem 0;
}
.logout{
    padding: 1.4rem 2rem;
    display: flex;
    align-items: center;
    gap: .8rem;
}
.logout img{
    width: 1.8rem;
}
.logout h6{
    color: var(--color-red);
}