*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:verdana;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    position:relative;
}
:root{
    --color-background:#EFF3F9;
    --color-white:#fff;
    --text-color:#263238;
    --color-secondary:#0065D4;
    --color-red:#F85E5E;
}
nav{
    margin-left:2rem;
    margin-right:1rem;
}

.items{
    display:flex;
}
.lateral-menu{
    background:var(--color-background);
    height:100vh;
    width:20rem;
}
.lateral-menu h1{
    text-align:center;
    font-size:2rem;
    color:var(--color-primary);
    padding: 7rem 0rem 3rem 0rem;
}
nav ul li a{
    font-size:1.4rem;
    color:var(--color-black);
    margin:1.8rem 0;
}
.center-items{
    display:flex;
    gap:2rem;
    flex-direction:row;
    align-items:center;
}
.imgHome{
    display:block;
    margin:2rem auto;

}
.select{
    border-radius:.8rem;
    background:var(--color-secondary);
}
.select a{
    
    color:var(--color-white);
}
.main{
    width:100%;
    height:100vh;
}
.main-header{
    display:flex;
    align-items:center;
    justify-content:end;
    gap:12rem;
    padding:2rem 4rem;
    width:100%;
    border-bottom:2px solid var(--color-background);
}
.main-header-start{
    align-items:center;
    display:flex;
    gap:2rem;
}
.main-header button{
    border: none;
    cursor: pointer;
    color:#fff;
    padding: 1.4rem 3rem;
    border-radius: .6rem;
    background-color: var(--color-secondary);
}
.input-search {
    padding:1.4rem 1rem;
    width:34rem;
    border-radius:1rem;
    background:var(--color-background)
}

.input-search input{
    flex:1;
    width:100%;
    outline:none;
    border:none;
    background:var(--color-background);
}
.input-search{
    display:flex;
    gap:1.8rem;
    align-items:center;

}
.search{
    cursor: pointer;
}
.profile{
    display:flex;    
    gap:1.8rem;
    align-items:center;
}
h1, p{
    color: var(--color-secondary);
    font-weight: 100;
}
p{
    font-size: 1.4rem;
}
.main a{
    display: flex;
    gap: 1rem;
    margin:2rem 4rem;  
}
.more-options{
    cursor: pointer;
}
.box{
    display: flex;
    align-items: center;
    margin-left: 4rem;
    box-shadow: 0px 0px 20px 0px #d9d9d9;
    width: 50vw;
    padding: 4rem 2rem;
    margin-bottom: 4rem;
    max-height: 60vh; /* Define uma altura máxima */
    overflow-y: auto; /* Adiciona rolagem vertical */
    
}
#container-notificacoes{
    margin-top: 15vh;
    margin-left: -4vw;
}

.box-notification{
    justify-content: space-between;
  
}
.box-information{
  
    width: 50vw;
    gap: 4rem;
}
.delete-all-notifications{
    display: none;
}

.delete-all-notifications.on{
    display: block;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
}
.delete-all-modal{
    width:34%;
    height:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    border-radius:.8rem;
    padding:2rem;
    background-color:var(--color-white);
}
.delete-all-modal h1{
    color: var(--text-color);
}
.buttons button{
    border:none;
    color:var(--color-white);
    background-color:var(--text-color);
    padding:2rem 0;
    width: 46%;    
    cursor:pointer;
}
.buttons button:nth-child(2){
    margin-left: 1rem;
    background-color: var(--color-secondary);
}